@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
	/* it does not affect element if we add padding to that */
	box-sizing: border-box;
}

body {
	font-family: 'Bebas Neue', sans-serif;
	margin: 0;
	min-height: 100vh;
	background-color: whitesmoke;
}

h1 {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 15px;
	font-size: 40px;
	letter-spacing: 4px;
}

.photographerName {
	margin: 20px 10px;
	font-size: 30px;
}

/* loader */

.loader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.8);
	color: #2271c0;
}

.loader img {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* image container */

.image-container {
	margin: 10px 10%;
}

.image-container img {
	width: 100%;
	margin-top: 5px;
}

.image-container .photo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.image-container .photo .btn {
	display: flex;
	align-items: center;
	margin: 5px 0;
}

.image-container a {
	text-decoration: none;
	color: inherit;
}

.fa-twitter:hover {
	filter: brightness(130%);
	color: #38a1f3;
}

.fa-instagram:hover {
	filter: brightness(130%);
	color: #f338ce;
}

button:active {
	transform: translate(0, 0.3rem);
	box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

.fa-twitter,
.fa-instagram {
	margin-left: 20px;
	font-size: 2rem;
}

/* media query: large smartphone */

@media screen and (max-width: 600px) {
	h1 {
		font-size: 20px;
	}

	.image-container {
		margin: 10px 5%;
	}
}
